@model IEnumerable<SaleWithDiscountModel>
@{
    ViewData["Title"] = "All";
}

<h2>All Sales</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Car</th>
            <th>Price with Discount</th>
            <th>Price without Discount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @item.Car.Make
                </td>
                <td>
                    @item.PriceWithDiscount
                </td>
                <td>
                    @item.PriceWithoutDiscount
                </td>
            </tr>
        }
    </tbody>
</table>

