@model SaleWithDiscountModel
@{
    ViewData["Title"] = "SaleById";
}

<h2>SaleById</h2>

<p>Car Make: @Model.Car.Make</p>
<br/>
<p>Car Model: @Model.Car.Model</p>
<br/>
<p>Customer Name: @Model.Customer.Name</p>