
@{
    ViewData["Title"] = "Add";
}

<h2>Add a Customer</h2>

<form method="post">
    Name: 
    <input type="text" name="name" />
    <br />
    BirthDate:
    <input type="date" name="birthDate" />
    <br/>
    <input type="submit" value="Add" />

</form>

