@model CustomerWithCarsModel
@{
    ViewData["Title"] = "CustomersSales";
}

<h2>CustomersSales</h2>


    <p>Name: @Model.Name</p>
    <p>Cars Bought: @Model.CarsBought</p>
    <p>Total Money Spent: $@Model.MoneySpent</p>


